<!-- <div class="styled">
  <h1>This is template for App Root</h1> 
  <p>This is para from app root</p>
  <app-user></app-user>
  <app-chat></app-chat>
</div> -->

<!-- <app-string-interpolation></app-string-interpolation>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding> -->

<!-- <app-input-property-decorator></app-input-property-decorator>
<app-output-property-decorator></app-output-property-decorator> -->

<app-attribute-binding></app-attribute-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>